spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5432/backend
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: never


server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework.jdbc.core: DEBUG